name: PHP Lint
on:
  workflow_call:
    inputs:
      workingDirectory:
        required: false
        default: '.'
        type: string
      environment:
        required: true
        type: string
      phpVersion:
        required: true
        type: string
      lintStandard:
        required: false
        default: 'PSR2'
        type: string
      lintDirectories:
        required: false
        default: 'app tests'
        type: string
      branch:
        required: false
        default: ${{ github.ref }}
        type: string

jobs:
  php-lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.workingDirectory }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: Setup PHP
        uses: shivammathur/setup-php@2.21.1
        with:
          php-version: ${{ inputs.phpVersion }}
          tools: composer:v2
      - name: Get composer cache directory
        id: composer-cache
        run: echo "name=dir::$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
      - name: Cache Composer dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-
      - name: Install Composer dependencies
        run: composer install
      - name: Run lint
        id: lint
        run: ./vendor/bin/phpcs -n --standard=${{ inputs.lintStandard }} ${{ inputs.lintDirectories }}
      - name: Send Teams Notification notification for failed test
        uses: skitionek/notify-microsoft-teams@master
        if: ${{ failure() && steps.lint.conclusion == 'failure' }}
        with:
          webhook_url: ${{ secrets.MSTEAMS_WEBHOOK }}
          raw: >-
            {
              "text": "FAILED: Deployment to ${{ inputs.environment }} for ${{ github.repository }} ${{ inputs.branch }} branch failed due to failing linting."
            }
