name: Validate Swagger
on:
  workflow_call:
    inputs:
      workingDirectory:
        required: false
        default: '.'
        type: string
      swaggerFile:
        required: false
        default: 'coverage'
        type: string
      branch:
        required: false
        default: ${{ github.ref }}
        type: string
      environment:
        required: true
        type: string

jobs:
  phpunit-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.workingDirectory }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: Setup Node
        uses: actions/setup-node@v3
      - name: Validate Swagger
        run: |
          export PATH=$PATH:$HOME/.yarn/bin
          yarn global add swagger-cli
          swagger-cli validate --no-schema ${{ inputs.swaggerFile }}
      - name: Send Teams Notification notification for failed test
        uses: skitionek/notify-microsoft-teams@master
        if: ${{ failure() && steps.test.conclusion == 'failure' }}
        with:
          webhook_url: ${{ secrets.MSTEAMS_WEBHOOK }}
          raw: >-
            {
              "text": "FAILED: Deployment to ${{ inputs.environment }} for ${{ github.repository }} ${{ inputs.branch }} branch failed due to broken swagger file."
            }
