name: yarn-build
on:
  workflow_call:
    inputs:
      workingDirectory:
        description: The root directory for the frontend code base
        required: false
        default: '.'
        type: string
      environment:
        required: true
        type: string    
      branch:
        required: false
        default: ${{ github.ref }}
        type: string
    secrets:
      MSTEAMS_WEBHOOK:
        required: true

jobs:
  yarn-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.workingDirectory }}
    steps:      
      - name: Build Application
        id: build
        run: yarn build
      - name: Send Teams notification for failed build
        uses: skitionek/notify-microsoft-teams@master
        if: ${{ failure() && steps.build.conclusion == 'failure' }}
        with:
          webhook_url: ${{ secrets.MSTEAMS_WEBHOOK }}
          raw: >-
            {
              "text": "FAILED: Deployment to ${{ inputs.environment }} for ${{ github.repository }} ${{ inputs.branch }} branch failed due to build failure. Build needs to be fixed."
            }
   
