name: Yarn Lint Workflow
on:
  workflow_call:
    inputs:
      packageJsonPath:
        required: true
        type: string
      environment:
        required: true
        type: string
      workingDirectory:
        description: The root directory for the frontend code base
        required: false
        default: '.'
        type: string
      branch:
        required: false
        default: ${{ github.ref }}
        type: string

jobs:
  yarn-lint:
    defaults:
      run:
        working-directory: ${{ inputs.workingDirectory }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          cache: 'yarn'
          cache-dependency-path: ${{ inputs.packageJsonPath }}
      - name: Token for the required repositories
        uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{ secrets.SCRATCH_USER_ACCESS_TOKEN }}
      - name: Clean cache
        run: yarn cache clean
      - name: Install dependencies
        run: yarn install --immutable
      - name: Run lint
        id: lint
        run: yarn lint -- --fix
      - name: Send Teams Notification notification for failed test
        uses: skitionek/notify-microsoft-teams@master
        if: ${{ failure() && steps.lint.conclusion == 'failure' }}
        with:
          webhook_url: ${{ secrets.MSTEAMS_WEBHOOK }}
          raw: >-
            {
              "text": "FAILED: Deployment to ${{ inputs.environment }} for ${{ github.repository }} ${{ inputs.branch }} branch failed due to failing linting."
            }
